In [1]:
import pandas as pd

In [2]:
book = pd.read_csv('books_data.csv')
book.head()

,Title,description,authors,image,previewLink,publisher,publishedDate,infoLink,categories,ratingsCount
0,Its Only Art If Its Well Hung!,NaN,['Julie Strain'],http://books.google.com/books/content?id=DykPA...,http://books.google.nl/books?id=DykPAAAACAAJ&d...,NaN,1905-06-18,http://books.google.nl/books?id=DykPAAAACAAJ&d...,['Comics & Graphic Novels'],NaN
1,Dr. Seuss: American Icon,Philip Nel takes a fascinating look into the k...,['Philip Nel'],http://books.google.com/books/content?id=IjvHQ...,http://books.google.nl/books?id=IjvHQsCn_pgC&p...,A&C Black,2005-01-01,http://books.google.nl/books?id=IjvHQsCn_pgC&d...,['Biography & Autobiography'],19.0
2,Wonderful Worship in Smaller Churches,This resource includes twelve principles in un...,['David R. Ray'],http://books.google.com/books/content?id=2tsDA...,http://books.google.nl/books?id=2tsDAAAACAAJ&d...,NaN,1905-06-22,http://books.google.nl/books?id=2tsDAAAACAAJ&d...,['Religion'],4.0
3,Whispers of the Wicked Saints,Julia Thomas finds her life spinning out of co...,['Veronica Haddon'],http://books.google.com/books/content?id=aRSIg...,http://books.google.nl/books?id=aRSIgJlq6JwC&d...,iUniverse,2005-02,http://books.google.nl/books?id=aRSIgJlq6JwC&d...,['Fiction'],NaN
4,"Nation Dance: Religion, Identity and Cultural ...",NaN,['Edward Long'],NaN,http://books.google.nl/books?id=399SPgAACAAJ&d...,NaN,2003-03-01,http://books.google.nl/books?id=399SPgAACAAJ&d...,NaN,23.0

In [3]:
book.shape

(212404, 10)

In [4]:
#changing date column to only year
book['publishedDate'] = book['publishedDate'].str[:4]

In [5]:
#Filling null values with mean of the rating count
book['ratingsCount'] = book['ratingsCount'].fillna(book['ratingsCount'].mean())

In [6]:
#removing brackets and quotes from authors and categories column
book['authors'] = book['authors'].str[2:-2]
book['categories'] = book['categories'].str[2:-2]

In [7]:
#filling null values with some value
book['categories'] = book['categories'].fillna('No Category')
book['authors'] = book['authors'].fillna('Anonymous')

In [8]:
#checking if any column has null values
book.isnull().any()

Title             True
description       True
authors          False
image             True
previewLink       True
publisher         True
publishedDate     True
infoLink          True
categories       False
ratingsCount     False
dtype: bool

In [9]:
#The number of null values in each column of the csv file
book.isnull().sum()

Title                1
description      68442
authors              0
image            52075
previewLink      23836
publisher        75886
publishedDate    25305
infoLink         23836
categories           0
ratingsCount         0
dtype: int64

In [10]:
#removing null values from important columns
book = book.dropna(subset=['Title','publishedDate'])
book.isnull().sum()

Title                0
description      43552
authors              0
image            27694
previewLink          0
publisher        51314
publishedDate        0
infoLink             0
categories           0
ratingsCount         0
dtype: int64

In [11]:
book.shape

(187098, 10)

In [14]:
book.to_csv('book_cleaned.csv', encoding = 'utf-8', index = False)